{% load static %}
<!DOCTYPE html>
<html>

<head>

  <title>City Master View</title>

</head>
<body class="sub_page">
<div>
    <table align="center" width="50%" border="2.5">
        <tr>
            <th>City Id</th>
            <th>District Id</th>
            <th>State Id</th>
            <th>City Name</th>
            <th>Description </th>
        </tr>
        {% for city in cityobj %}
        <tr>
            <td> {{ city.city_village_id }}</td>
            <td>{{ city.district_id }} </td>
            <td>{{ city.state }} </td>
            <td>{{ city.city_village_name }} </td>
            <td>{{ city.description }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>