<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Details</title>
    </head>
    <body>
        <form method="post" action="/citysave">
            <br>
            {% csrf_token %}
            <h3>Enter Details</h3>

            <label>Enter City village Id:</label><input type="number" name="txtcid"><br>

            <label>Enter District Id:</label>
            <select name="city_village_master_table">
                {% for i in cityobj %}
                <option name="txtdid" value="{{i.district_id}}">{{i.district}}</option>
                {% endfor %}
            </select><br>

            <label>Enter State Id</label>
            <select name="city_village_master_table">
                {% for i in cityobj %}
                <option name="txtsid" value="{{i.state_id}}">{{i.state}}</option>
                {% endfor %}
            </select><br>

            <label>Enter City Name</label><input type="text" name="txtcname"><br>

            <label>Enter Description</label><input type="text" name="txtcdesc"><br>

            {% comment %}
            <label>Created By User Id</label>
            <select name="state_master_table">
                {% for i in cityobj %}
                <option name="txtuser" value="{{i.created_by_user}}">{{i.created_by_user}}</option>
                {% endfor %}
            </select><br>

            <label>Created Date</label><input type="date" name="txtuserdate"><br>

            <label>Updated By User Id</label>
            <select name="state_master_table">
                {% for i in cityobj %}
                <option name="txtupdate" value="{{i.updated_by_user}}">{{i.updated_by_user}}</option>
                {% endfor %}
            </select><br>

            <label>Updated Date</label><input type="date" name="txtup"><br>
            {% endcomment %}

            <button type="submit" value="save">Submit</button>
        </form>
    </body>
</html>