{% extends 'authentication\newadmin.html' %}
{% block content %}
{% load static %}
<div>
    <center>
        <h2><b>Complain Details</b></h2>
        <br>
        <div>
        <input type="text" placeholder="Search..." name="search"> <input type="submit" placeholder="Search..." name="search"> <img src="{% static 'icons8-search.gif' %}" alt=" Happy SVG" height="30px"/>
        <button style="float: right;" class="btn btn-danger square-btn-adjust" onclick="location.href = '/complainstatus';">Add</button>
    </div>
        <br>
    </center>
        <tr>
            <th>Complain Id</th>
            <th>Complain Status Id</th>
            <th>Complain Date</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for complain in complainstatusobj %}
        <tr>
            <td> {{ complain.com_id }}</td>
            <td>{{ complain.com_status_id }} </td>
            <td>{{ complain.com_status_date }} </td>
            <td>{{ complain.com_status }}
            <td><a href="/complainstatusedit/{{complain.com_status_id}}"><img src="{% static 'output.jpg' %}" alt=" Happy SVG" height="30px"/></a></td>
            <td><a href="/complainstatusdelete/{{complain.com_status_id}}"><img src="{% static 'delete-bin-line.png' %}" alt=" Happy SVG" height="30px"/></a></td>
        </tr>
        {% endfor %}
</div>
{% endblock content %}