
{% extends 'authentication\newadmin.html' %}
{% block content %}
{% load static %}
<div>
    <center>
        <h2><b>Complain Details</b></h2>
        <br>
    <div>
        <input type="text" placeholder="Search..." name="search"> <input type="submit" placeholder="Search..." name="search"> <img src="{% static 'icons8-search.gif' %}" alt=" Happy SVG" height="30px"/>
        <button style="float: right;" class="btn btn-danger square-btn-adjust" onclick="location.href = '/complain';">Add</button>
    </div>
    <br>
    </center>
    <thead>
        <tr>
            <th>Complain Id</th>
            <th style="display: none;">User Id</th>
            <th>User Name</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        {% for complain in complainobj %}
        <tr> 
            <td> {{ complain.com_id }}</td>
            <td style="display: none;">{{ complain.user_master_id }} </td>
            <td>{{ complain.user_master.user_name }}
            <td>{{ complain.com_description }} </td>
            <td><a href="/complainedit/{{complain.com_id}}"><img src="{% static 'output.jpg' %}" alt=" Happy SVG" height="30px"/></a></td>
            <td><a href="/complaindelete/{{complain.com_id}}"><img src="{% static 'delete-bin-line.png' %}" alt=" Happy SVG" height="30px"/></a></td>
        </tr>
        {% endfor %}
    </tbody>
</div>
{% endblock content %}