{% extends 'authentication\masterpage.html' %}
{% block content %}
{% comment %} <html>{% endcomment %}
{% comment %} <head>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}"> {% endcomment %}
    {% comment %} <script src="{% static 'bootstrap.min.js'%}"> {% endcomment %}
    {% comment %} <title>State Master View</title> {% endcomment %}
{% comment %} </head> {% endcomment %} 
{% comment %} <body class="sub_page"> {% endcomment %}
{% comment %} <style>
    .dtWidgets
    {
        display:none;
        visiblity:hidden;
    }
</style> {% endcomment %}
<div>
    <table class="table">
        <tr>
            <th>Complain Id</th>
            <th>Complain Status Id</th>
            <th>Complain Date</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for complain in complainstatusobj %}
        <tr>
            <td> {{ complain.com_id }}</td>
            <td>{{ complain.com_status_id }} </td>
            <td>{{ complain.com_status_date }} </td>
            <td>{{ complain.com_status }}
            <td><a href="/complainstatusedit/{{complain.com_status_id}}">Edit</a></td>
            <td><a href="/complainstatusdelete/{{complain.com_status_id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="/complainstatus">Add</a>
</div>
{% comment %} </body>
</html> {% endcomment %}
{% endblock content %}