{% extends 'authentication\newadmin.html' %}
{% block content %}
{% load static %}
<div>
    <center>
        <h2><b>Complain Details</b></h2>
        <br>
        <div>
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" placeholder="Search..." name="search">
                <input type="submit" placeholder="Search..." name="submit"> 
                <img src="{% static 'icons8-search.gif' %}" alt=" Happy SVG" height="30px"/>
                </form>
                <button style="float: right;" class="btn btn-danger square-btn-adjust" onclick="location.href = '/complain';">Add</button>
        
        <br>
    </center>
    <table class="table">
        <thead>
        <tr>
            <th>Complain Id</th>
            <th>Complain Status Id</th>
            <th>Complain Date</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            {% for complain in complainstatusobj %}
            <tr>
            <td> {{ complain.com_id }}</td>
            <td>{{ complain.com_status_id }} </td>
            <td>{{ complain.com_status_date }} </td>
            <td>{{ complain.com_status }}
            <td><a href="/complainstatusedit/{{complain.com_status_id}}"><img src="{% static 'output.jpg' %}" alt=" Happy SVG" height="30px"/></a></td>
            <td><a href="/complainstatusdelete/{{complain.com_status_id}}"><img src="{% static 'delete-bin-line.png' %}" alt=" Happy SVG" height="30px"/></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}