{% extends 'authentication\masterpage.html' %}
{% block content %}
<div class="widgets-container" id="dtWidgets">
    <div class="widget">
        <h2>Total Vehicles</h2>
        <p>150</p>
    </div>

    <div class="widget">
        <h2>Total Routes</h2>
        <p>20</p>
    </div>

    <div class="widget">
        <h2>Active Orders</h2>
        <p>10</p>
    </div>

    <div class="widget">
        <h2>Revenue</h2>
        <p>&#8377 50,000</p>
    </div>
    
     <div class="widget">
        <h2>Total District</h2>
        <p>766</p>
    </div>
    
    <div class="widget">
        <h2>Revenue</h2>
        <p>&#8377 50,000</p>
    </div>
</div> {% endblock content %}
