{% extends 'authentication\masterpage.html' %}
{% block content %}
    <body>
        <form action="/distupdate/{{dist.district_id}}" method="POST">
            <br>
            {% csrf_token %}
            <h3>Update Details</h3>

            <label>Enter District Name:</label><input type="text" name="txtdname" value="{{dist.district_name}}"><br>

            {% comment %}
            <label>Enter State Id</label>
            <select name="dist_master_table">
                {% for i in distobj %}
                <option name="txtsid" value="{{i.state}}">{{i.state}}</option>
                {% endfor %}
            </select><br>
            {% endcomment %}

            <label>Enter Description</label><input type="text" name="txtddesc" value="{{dist.description}}"><br>
            
            <button type="submit">Update</button>
        </form>
    </body>
{% endblock content %}