{% extends 'authentication\newadmin.html' %}
{% block content %}
{% load static %}
<div>
    <center>
        <h2><b>District Details</b></h2>
        <br>
    <div><form method="POST" action="">
        {% csrf_token %}
        <input type="text" placeholder="Search..." name="search">
        <input type="submit" placeholder="Search..." name="submit"> 
        <img src="{% static 'icons8-search.gif' %}" alt=" Happy SVG" height="30px"/>
        </form>
    </div>
        <button style="float: right;" class="btn btn-danger square-btn-adjust" onclick="location.href = '/dist';">Add</button>
    </div>
        <br>
    </center>
    <table class="table">
    <thead>
        <tr>
            <th>Distriict Id</th>
            <th>District Name</th>
            <th style="display: none;">State Id</th>
            <th>State Name</th>
            <th>Description </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for dist in distobj %}
        <tr>
            <td> {{ dist.district_id }}</td>
                <td>{{ dist.district_name }} </td>
                <td style="display: none;">{{ dist.state.state_id }} </td>
                <td>{{ dist.state.stat_name}}</td>
                <td>{{ dist.description }}</td>
                <td><a href="/distedit/{{dist.district_id}}"><img src="{% static 'output.jpg' %}" alt=" Happy SVG" height="30px"/></a></td>
                <td><a href="#" onclick="confirmDelete('{{dist.district_id}}')""><img src="{% static 'delete-bin-line.png' %}" alt=" Happy SVG" height="30px"/></a></td>
                <script>
                    function confirmDelete(stateId)
                     {
                        if (confirm("Are you sure you want to delete this district ?")) {
                            window.location.href = "/distdelete/" + stateId; // Redirect if confirmed
                        }
                    }
           </script>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock content %}+