{% extends 'authentication\newadmin.html' %}
{% block content %}
{% load static %}
<div>
        <center>
            <h2><b>Doc Details</b></h2>
            <br>
        <div>
            <input type="text" placeholder="Search..." name="search"> <input type="submit" placeholder="Search..." name="search"> <img src="{% static 'icons8-search.gif' %}" alt=" Happy SVG" height="30px"/>
            <button style="float: right;" class="btn btn-danger square-btn-adjust" onclick="location.href = '/docdetail';">Add</button>
        </div>
        <br>
    </center>
            <tr>
                <th>Doc Det Id</th>
                <th>Doc Id</th>
                <th>Doc Address</th>
                <th>Veh Rout Id</th>
                <th>Doc Weight</th>
                <th>Veh Rout Det Id</th>
                <th>Total Amount</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for docdet in docdetobj %}
            <tr>
                <td> {{ docdet.doc_detail_id }}</td>
                <td>{{ docdet.doc_id }} </td>
                <td>{{ docdet.doc_address }} </td>
                <td>{{ docdet.vehc_rout_id }}</td>
                <td>{{ docdet.doc_weight }}</td>
                <td>{{ docdet.veh_rout_det_id }}</td>
                <td>{{ docdet.total_amount }}</td>
                <td><a href="/docdetedit/{{docdet.doc_detail_id}}"><img src="{% static 'output.jpg' %}" alt=" Happy SVG" height="30px"/></a></td>
                <td><a href="/docdetdelete/{{docdet.doc_detail_id}}"><img src="{% static 'delete-bin-line.png' %}" alt=" Happy SVG" height="30px"/></a></td>
            </tr>
            {% endfor %}
</div>
{% endblock content %}