{% load static %}
<!DOCTYPE html>
<html>

<head>

  <title>GST Charges View</title>

</head>
<body class="sub_page">
<div>
    <table align="center" width="50%" border="2.5">
        <tr>
            <th>Gst Charges Id</th>
            <th>Year</th>
            <th>CGST Per</th>
            <th>SGST Per</th>
        </tr>
        {% for gst in gstobj %}
        <tr>
            <td> {{ gst.gst_char_id }}</td>
            <td>{{ gst.year }} </td>
            <td>{{ gst.cgst_per }} </td>
            <td>{{ gst.sgst_per }} </td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>