{% extends 'authentication\masterpage.html' %}
{% block content %}
    <body>
        <form action="/gstupdate/{{gst.gst_char_id}}" method="POST">
            <br>
            {% csrf_token %}
            <h3>Update Details</h3>

            <label>Enter Year:</label><input type="text" name="txtgyear" value="{{gst.year}}"><br>

            <label>Enter CGST Percentage</label><input type="number" name="txtgcgst" value="{{gst.cgst_per}}" step=".01"><br>

            <label>Enter SGST Percentage</label><input type="number" name="txtgsgst" value="{{gst.sgst_per}}" step=".01"><br>
            
            <button type="submit">Update</button>
        </form>
    </body>
{% endblock content %}