{% extends 'authentication\customerpanel.html' %}
{% block content %}
{% load static %}
<center><h1 style="color:red; text-align:center"><u><b> Orders Details </b></u></h1></center>
<div>
    <table class="table">
            <tr>
                <th>Doc Id</th>
                <th>Doc Number</th>
                <th>Doc Date</th>
                <th>LR Number</th>
                <th>GST Charges</th>
                <th>Net Amount</th>
                <th>Is Cancel</th>
            </tr>
            {% for doc in docobj1 %}
            <tr>
                <td> {{ doc.doc_id}}</td>
                <td>{{ doc.doc_number }} </td>
                <td>{{ doc.doc_date }} </td>
                <td>{{ doc.lr_number }}</td>
                <td>{{ doc.gst_charges.cgst_per }}</td>
                <td>{{ doc.net_amount }}</td>
                <td>{{ doc.is_cancel }}</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock content %}