{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>paymenticle Master View</title>
</head>
<body class="sub_page">
    <div>
        <table align="center" width="50%" border="2.5">
            <tr>
                <th>Payment Details</th>
                <th>Doc Payment Id</th>
                <th>Doc Id</th>
                <th>Payment Status</th>
                <th>Payment Method</th>
                <th>Transection Id</th>
                <th>Payment Response</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for payment in paymentobj %}
            <tr>
                <td> {{ payment.doc_pay_detail }}</td>
                <td>{{ payment.doc_pay_detail_id }} </td>
                <td>{{ payment.doc }} </td>
                <td>{{ payment.pay_status }}</td>
                <td>{{ payment.pay_method }}</td>
                <td>{{ payment.pay_tran_id }}</td>
                <td>{{ payment.pay_response }}</td>
                <td><a href="/paymentedit/{{payment.id}}">Edit</a></td>
                <td><a href="/paymentdelete/{{payment.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <a href="/payment">Add</a>
</body>
</html>