
{% extends 'authentication\newadmin.html' %}
{% block content %}
{% load static %}
<div>
    <center>
        <h2><b>Payment Details</b></h2>
        <br>
        <div>
        <input type="text" placeholder="Search..." name="search"> <input type="submit" placeholder="Search..." name="search"> <img src="{% static 'icons8-search.gif' %}" alt=" Happy SVG" height="30px"/>
        <button style="float: right;" class="btn btn-danger square-btn-adjust" onclick="location.href = '/payment';">Add</button>
        </div>
        <br>
    </center>
    <thead>
        <tr>
            <th>Payment Details</th>
            <th>Doc Payment Id</th>
            <th style="display: none;">Doc Id</th>
            <th>Doc Number</th>
            <th>Payment Status</th>
            <th>Payment Method</th>
            <th>Transection Id</th>
            <th>Payment Response</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        {% for payment in paymentobj %}
        <tr>
            <td> {{ payment.doc_pay_detail }}</td>
                <td>{{ payment.doc_pay_detail_id }} </td>
                <td style="display: none;">{{ payment.doc_id }} </td>
                <td>{{ payment.doc.doc_number }}
                <td>{{ payment.pay_status }}</td>
                <td>{{ payment.pay_method }}</td>
                <td>{{ payment.pay_tran_id }}</td>
                <td>{{ payment.pay_response }}</td>
                <td><a href="/paymentedit/{{payment.doc_pay_detail_id}}"><img src="{% static 'output.jpg' %}" alt=" Happy SVG" height="30px"/></a></td>
                <td><a href="/paymentdelete/{{payment.doc_pay_detail_id}}"><img src="{% static 'delete-bin-line.png' %}" alt=" Happy SVG" height="30px"/></a></td>
             </tr>
        {% endfor %}
    </tbody>
</div>
{% endblock content %}