{% extends 'authentication\masterpage.html' %}
{% block content %}
{% load static %}
{% comment %} <html>{% endcomment %}
{% comment %} <head>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}"> {% endcomment %}
    {% comment %} <script src="{% static 'bootstrap.min.js'%}"> {% endcomment %}
    {% comment %} <title>State Master View</title> {% endcomment %}
{% comment %} </head> {% endcomment %} 
{% comment %} <body class="sub_page"> {% endcomment %}
{% comment %} <style>
    .dtWidgets
    {
        display:none;
        visiblity:hidden;
    }
</style> {% endcomment %}
{% load static %}
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Doc Detail Id</th>
            <th>Doc </th>
            <th>Doc Address </th>
            <th>Vehicle Route</th>
            <th>Vehicle Route</th>
            <th>Doc Weight</th>
            <th>Total Amount</th>
            
        </tr>
    </thead>
    <tbody>
        {% for state in reportobj %}
        <tr>
            <td> {{ state.doc_detail_id }}</td>
            <td>{{ state.doc }} </td>
            <td>{{ state.doc_address }}</td>
            <td>{{ state.vehc_rout }}</td>
            <td>{{ state.doc_weight }}</td>
            <td>{{ state.vehc_rout_det }}</td>
            <td>{{ state.total_amount }}</td>
          
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% comment %} </body>
</html> {% endcomment %}
{% endblock content %}
