
{% extends 'authentication\masterpage.html' %}
{% block content %}
{% comment %} <html>{% endcomment %}
{% comment %} <head>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}"> {% endcomment %}
    {% comment %} <script src="{% static 'bootstrap.min.js'%}"> {% endcomment %}
    {% comment %} <title>State Master View</title> {% endcomment %}
{% comment %} </head> {% endcomment %} 
{% comment %} <body class="sub_page"> {% endcomment %}
{% comment %} <style>
    .dtWidgets
    {
        display:none;
        visiblity:hidden;
    }
</style> {% endcomment %}
<div>
    <table class="table">
        <tr>
            <th>Review Status Id</th>
            <th>Review Id</th>
            <th>Status</th>
            <th>User Id</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for revsta in revstaobj %}
        <tr>
            <td> {{ revsta.review_status_id }}</td>
            <td>{{ revsta.review_id }} </td>
            <td>{{ revsta.status }} </td>
            <td>{{ revsta.user_id }} </td>
            <td><a href="/reviewstatusedit/{{revstaobj.id}}">Edit</a></td>
            <td><a href="/reviewstatusdelete/{{revstaobj.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="/review">Add</a>
</div>
{% comment %} </body>
</html> {% endcomment %}
{% endblock content %}