{% extends 'authentication\newadmin.html' %}
{% block content %}
{% load static %}
<div>
    <center>
        <h2><b>Review Status Details</b></h2>
        <br>
    <div>
        <input type="text" placeholder="Search..." name="search"> <input type="submit" placeholder="Search..." name="search"> <img src="{% static 'icons8-search.gif' %}" alt=" Happy SVG" height="30px"/>
        <button style="float: right;" class="btn btn-danger square-btn-adjust" onclick="location.href = '/reviewstatus';">Add</button>
    </div>
    <br>
   </center>
   <table class="table">
        <tr>
            <th>Review Status Id</th>
            <th style="display:none;">Review Id</th>
            <th>Review Description</th>
            <th>Status</th>
            <th>User Id</th>
            <th style="display:none;">User Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for revsta in revstaobj %}
        <tr>
            <td> {{ revsta.review_status_id }}</td>
            <td style="display:none;">{{ revsta.review_id }} </td>
            <td>{{ revsta.review.review_description }}</td>
            <td>{{ revsta.status }} </td>
            <td style="display:none;">{{ revsta.user_id }} </td>
            <td>{{ revsta.user.user_name}}
            <td><a href="/reviewstatusedit/{{revsta.review_status_id}}"><img src="{% static 'output.jpg' %}" alt=" Happy SVG" height="30px"/></a></td>
            <td><a href="/reviewstatusdelete/{{revsta.review_status_id}}"><img src="{% static 'delete-bin-line.png' %}" alt=" Happy SVG" height="30px"/></a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}