{% load static %}
<!DOCTYPE html>
<html>

<head>

  <title>Review & Feedback View</title>

</head>
<body class="sub_page">
<div>
    <table align="center" width="50%" border="2.5">
        <tr>
            <th>Review Id</th>
            <th>User Id</th>
            <th>Review Image</th>
            <th>Review Description</th>
            <th>Review Star</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for review in reviewobj %}
        <tr>
            <td> {{ review.review_id }}</td>
            <td>{{ review.user }} </td>
            <td>{{ review.review_image }} </td>
            <td>{{ review.review_description }} </td>
            <td>{{ review.review_star }}</td>
            <td><a href="/reviewedit/{{review.review_id}}">Edit</a></td>
            <td><a href="/reviewdelete/{{review.review_id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="/review">Add</a>
</div>
</body>
</html>