{% extends 'authentication\masterpage.html' %}
{% block content %}
{% comment %} <html>{% endcomment %}
{% comment %} <head>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}"> {% endcomment %}
    {% comment %} <script src="{% static 'bootstrap.min.js'%}"> {% endcomment %}
    {% comment %} <title>State Master View</title> {% endcomment %}
{% comment %} </head> {% endcomment %} 
{% comment %} <body class="sub_page"> {% endcomment %}
{% comment %} <style>
    .dtWidgets
    {
        display:none;
        visiblity:hidden;
    }
</style> {% endcomment %}
<div>
    <table class="table">
        <thead>
        <tr>
            <th>State Id</th>
            <th>State Name </th>
            <th>Description </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for state in stateobj %}
        <tr>
            <td> {{ state.state_id }}</td>
            <td>{{ state.stat_name }} </td>
            <td>{{ state.description }}</td>
            <td><a href="/stateedit{{state.id}}">Edit</a></td>
            <td><a href="/statedelete/{{state.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="/stateadd">Add</a>
</div>
{% comment %} </body>
</html> {% endcomment %}
{% endblock content %}
