<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Details</title>
    </head>
    <body>
        <form method="post" action="/statesave">
            <br>
            {% csrf_token %}
            <h3>Enter Details</h3>

            <label>Enter State Id:</label><input type="number" name="txtsid"><br>

            <label>Enter State Name:</label><input type="text" name="txtsname"><br>

            <label>Enter Description</label><input type="text" name="txtdesc"><br>

            <label>Created By User Id</label>
            <select>
                <option name="txtuser" value="{created_by_user}">{{created_by_user}}</option>
            </select><br>

            <label>Created Date</label><input type="date" name="txtuserdate"><br>

            <label>Updated By User Id</label>
            <select>
                <option name="txtupdate" value="{updated_by_user}">{{updated_by_user}}</option><br>
            </select><br>

            <label>Updated Date</label><input type="date" name="txtup"><br>

            <button type="submit" value="save">Submit</button>
        </form>
    </body>
</html>