{% load static %}
<!DOCTYPE html>
<html>

<head>

<title>State Master View</title>

</head>
<body class="sub_page">
<div>
    <table align="center" width="50%" border="2.5">
        <tr>
            <th>State Id</th>
            <th>State Name </th>
            <th>Description </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for state in stateobj %}
        <tr>
            <td> {{ state.state_id }}</td>
            <td>{{ state.stat_name }} </td>
            <td>{{ state.description }}</td>
            <td><a href="/stateedit/{{state.id}}">Edit</a></td>
            <td><a href="/statedelete/{{state.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="/stateadd">Add</a>
</div>
</body>
</html>