{% extends 'authentication\newadmin.html' %}
{% block content %}

{% load static %}
<body>
    <div>
        <center>
            <h2><b>State Details</b></h2>
            <br>
            <div>
                <input type="text" placeholder="Search..." name="search"> <input type="submit" placeholder="Search..." name="search"> <img src="{% static 'icons8-search.gif' %}" alt=" Happy SVG" height="30px"/>
                <button  style="color:black;
                padding: 7px 50px 5px 50px;
                float: right;
                font-size: 16px;" onclick="location.href = '/stateadd';"><img src="{% static 'add-circle-line.png' %}" alt=" Happy SVG" height="30px"/> ADD   </button>
            </div>
            <br>
        </center>
        <thead>
        <tr>
            <th>State Id</th>
            <th>State Name </th>
            <th>Description </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
    <tbody>
        {% for state in stateobj %}
        <tr>
            <td> {{ state.state_id }}</td>
            <td>{{ state.stat_name }} </td>
            <td>{{ state.description }}</td>
            <td><a href="/stateedit/{{state.state_id}}"><img src="{% static 'output.jpg' %}" alt=" Happy SVG" height="30px"/></a></td>
            <td><a href="/statedelete/{{state.state_id}}"><img src="{% static 'delete-bin-line.png' %}" alt=" Happy SVG" height="30px"/></a></td>
        
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
</body>
{% comment %} </body>
</html> {% endcomment %}
{% endblock content %}
