<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Details</title>
    </head>
    <body>
        <form method="post" action="/usersave">
            <br>
            {% csrf_token %}
            <h3>Enter Details</h3>

            <label>Enter User Master Id</label><input type="number" name="txtuid"><br>

            <label>Enter Email Id</label><input type="Email" name="txtemail"><br>

            <label>Enter User Name</label><input type="text" name="txtuname"><br>

            <label>Enter User Password</label><input type="Password" name="txtpass"><br>

            <button type="submit" value="save">Submit</button>
        </form>
    </body>
</html>