{% extends 'authentication\masterpage.html' %}
{% block content %}
{% load static %}
{% comment %} <html>{% endcomment %}
{% comment %} <head>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}"> {% endcomment %}
    {% comment %} <script src="{% static 'bootstrap.min.js'%}"> {% endcomment %}
    {% comment %} <title>State Master View</title> {% endcomment %}
{% comment %} </head> {% endcomment %} 
{% comment %} <body class="sub_page"> {% endcomment %}
{% comment %} <style>
    .dtWidgets
    {
        display:none;
        visiblity:hidden;
    }
</style> {% endcomment %}
    <div>
        <table class="table">
            <tr>
                <th>User Detail Id</th>
                <th>User Master Id</th>
                <th>User Type</th>
                <th>Profile Pic</th>
                <th>Conatact</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for userdet in userdetobj %}
            <tr>
                <td> {{ userdet.user_deatil_id }}</td>
                <td>{{ userdet.user_master_id }} </td>
                <td>{{ userdet.user_type }} </td>
                <td>{{ userdet.profile_pic }}</td>
                <td>{{ userdet.contact }}</td>
                <td>{{ userdet.gender }}</td>
                <td>{{ userdet.address }}</td>
                <td><a href="/userdetedit/{{userdet.user_deatil_id}}">Edit</a></td>
                <td><a href="/userdetdelete/{{userdet.user_deatil_id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <a href="/userdet">Add</a>
{% comment %} </body>
</html> {% endcomment %}
{% endblock content %}