{% load static %}
<!DOCTYPE html>
<html>

<head></head>
<body class="sub_page">
    <div>
        <table align="center" width="50%" border="2.5">
            <tr>
                <th>User Master Id</th>
                <th>User Email Id</th>
                <th>User Name</th>
                <th>User Password</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for user in userobj %}
            <tr>
                <td> {{ user.user_master_id }}</td>
                <td>{{ user.user_email_id }} </td>
                <td>{{ user.user_name }} </td>
                <td>{{ user.user_password }}</td>
                <td><a href="/useredit/{{user.user_master_id}}">Edit</a></td>
                <td><a href="/userdelete/{{user.user_master_id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <a href="/user">Add</a>
    </div>
</body>
</html>