{% extends 'authentication\newadmin.html' %}
{% block content %}
{% load static %}
<div>
    <center>
        <h2><b>Vehicle Rout Details</b></h2>
        <br>
        <div>
        <input type="text" placeholder="Search..." name="search"> <input type="submit" placeholder="Search..." name="search"> <img src="{% static 'icons8-search.gif' %}" alt=" Happy SVG" height="30px"/>
        <button style="float: right;" class="btn btn-danger square-btn-adjust" onclick="location.href = '/vehroutdet';">Add</button>
        </div>
        <br>
    </center>
    <table class="table">
            <tr>
                <th>Veh Rout Det Id</th>
                <th>Veh Rout Id</th>
                <th>State Name</th>
                <th>District Name</th>
                <th>City Village Name</th>
                <th>Description</th>
                <th>Char Below 50</th>
                <th>Char Below 150</th>
                <th>Char Above 150</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for vehroutdet in vehroutdetobj %}
            <tr>
                <td> {{ vehroutdet.veh_rout_det_id }}</td>
                <td>{{ vehroutdet.veh_rout_id }} </td>
                <td>{{ vehroutdet.state.stat_name }} </td>
                <td>{{ vehroutdet.ditrict.district_name }}</td>
                <td>{{ vehroutdet.city_village.city_village_name }}</td>
                <td>{{ vehroutdet.decription }}</td>
                <td>{{ vehroutdet.char_bel_50 }}</td>
                <td>{{ vehroutdet.char_bel_150 }}</td>
                <td>{{ vehroutdet.char_abo_150 }}</td>
                <td><a href="/vehroutdetedit/{{vehroutdet.veh_rout_det_id}}"><img src="{% static 'output.jpg' %}" alt=" Happy SVG" height="30px"/></a></td>
                <td><a href="/vehroutdetdelete/{{vehroutdet.veh_rout_det_id}}"><img src="{% static 'delete-bin-line.png' %}" alt=" Happy SVG" height="30px"/></a></td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock content %}